<!DOCTYPE html>
<html lang="mk">
<head>
    <meta charset="UTF-8">
    <title>ТРАЕКТ МАРКЕТ</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Почетна</a>
            <a href="/products">Производи</a>
            <a href="/sales">Акции</a>
            <a href="/login">Логирај се</a>
        </nav>
    </header>

    <main class="center">
        <img src="/static/L1.png" alt="Gonito Market Logo" class="logo">
        <h1 style="color:#1c2e4a; font-size: 28px;">ТРАЕКТ МАРКЕТ - Секогаш тука за вас!</h1>
        <p style="font-size: 18px; color: #333;">Добредојдовте во нашиот маркет. Пребарајте производи, проверете цени и следете ги најновите акции.</p>
    </main>
    <div class="home-image">
        <img src="/static/home.png" alt="Home Image">
    </div>
  
    

    <footer style="background-color: #1c2e4a; color: white; padding: 2em 1em; text-align: center; margin-top: 3em;">
        <p>&copy; 2025 ТРАЕКТ МАРКЕТ</p>
        <div class="contact-info" style="margin-top: 1em; font-size: 14px; line-height: 1.6;">
            <p>📍 Адреса: Ул. Филип Втори, Кривогаштани</p>
            <p>📞 Телефон: +389 70 279 333</p>
            
            <p>⏰ Работно време:<br> Пон - Саб: 08:00 - 20:00 <br> Недела: 08:00 - 15:00
                   
            </p>
        </div>
    </footer>
</body>
</html>
